body{
	background-color: black;
	color: #ff6;
	@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);

	font-family: "News Cycle", sans-serif;
}

ul{
	list-style: none;
}

a{
	color: #18C4FE;
}
#crawler{
	font-size: 70px;
}
#titles{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(400px) rotateX(25deg);
}

#titles:after{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.titlecontent{
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

.center{
	text-align: center;
}

.capitalize{
	text-transform: uppercase;	
}

.menu-item{
	float: left;
	margin-right: 25px;
	line-height: 1.3;
	font-size: 30px;
}
.menu{
	height: 65px;
	background-color: black;
	position: absolute;
	top: 0;
	z-index: 1;
}