body{
	background-color: black;
	color: #dedce5;
	margin: 0;
	font-family: "News Cycle", sans-serif;
	background-image: url("http://vignette3.wikia.nocookie.net/starwarsdetours/images/5/50/Wiki-background/revision/latest/scale-to-width-down/640?cb=20120824215643");
}
a{
	color: #2c8bcf;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

li{
	list-style: none;
	line-height: 1.4;
}

input[type='text']{
	height: 40px;
	font-size: 14px;
	outline: none;
	padding: 0 10px;
	background-color: #4c596f;
	border: none;
	color: #dedce5;
	border-radius: 6px;
}

input[type='submit']{
	background-color: #4c596f;
	border: none;
	padding: 0 5px;
	height: 40px;
	color: #dedce5;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}

.select{
    outline: none;
    height: 40px;
    border: none;
    background-color: #4c596f;
    color: #dedce5;
    font-size: 14px;
}

.clear{
	clear: both;
}
#root{
	max-width: 1600px;
	margin: auto;
}
#content{
	padding: 15px;
}

.headerTitle{
	display: inline;
}
#topbar{
	background-color: #120c0e;
	padding: 20px;
}

#attr-table td{
	text-transform: capitalize;
}
#attr-table .tag{
	color: #ee8;
}

.panel{
	background-color: #120c0e;
	border-radius: 3px;
	padding: 5px 10px;
}
.searchForm{
	float: right;
}

.title{
	color: #ff6;
}

.whichEpisode {
	color: #ff6;
}

table {
	width: 100%;
	border-collapse: collapse;
}
td {
	padding: 6px;
	border: 1px solid #555;
	text-align: left;
}
td p{
	margin: 10px 0;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, tbody, th, td, tr {
		display: block;
	}
	tr {
		border: 1px solid #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}
}