<!DOCTYPE html>
<html>
<head>
	<title>SW Guide</title>
	<meta encode="utf-8">

	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<div id="root">
		<div id="topbar">
			<h1 class="headerTitle">SW ENCICLOPEDIA</h1>
			<form class="searchForm" v-on:submit.prevent="search">
				<select class="select" id="selectInput" v-model="select">
					<option value="people">People</option>
					<option value="films">Films</option>
					<option value="planets">Planets</option>
					<option value="vehicles">Vehicles</option>
					<option value="species">Species</option>
					<option value="starships">Starships</option>
				</select>
				<input type="text" v-model="searchText" placeholder="Search">
				<input type="submit">
			</form>
		</div>
		<div id="content">
			<div class="clear"></div>
			<div class="panel">
				<h2 id="title">Search Characters, Films, Planets...</h2>
				<ul id='attr-list'>
					<li v-for="(dado, index) in dados" >
						<span class="tag">{{index}}:</span> <span v-show="shouldRender(dado)">{{dado}}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="js/variables.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>